In [1]:
import pandas as pd
import os 
import random

In [2]:
diag_f= "test-data/RAJ_DIAG_cleaned.psv"
person_f= "test-data/RAJ_PERSON_cleaned.psv"

#Loading Data Frames and renaming columns
df_diag= pd.read_csv(diag_f, sep='|',names=['Patient_ID', ' ICD10', 'month', 'year'])

df_person= pd.read_csv(person_f, sep='|')
df_person.columns= ['Month_of_eligibility', 'Patient_DOB', 'Gender','Patient_ID', 'RAF_Type']

FileNotFoundError: File b'test-data/RAJ_DIAG_cleaned.psv' does not exist

In [17]:
print('selecting random row from the person df')
#print(df_person.index)
id=random.randint(df_person.index[0],df_person.index[-1] )
temp_patient= dict(df_person.loc[id])
temp_df_person= df_person[df_person.index==id]

selecting random row from the person df

In [18]:
print("getting diagnosis data for {}: {}".format('Patient_ID', temp_patient['Patient_ID'] ))
temp_diag= df_diag.query("Patient_ID=='{}'".format(temp_patient['Patient_ID']))
temp_diag

getting diagnosis data for Patient_ID: 1132385403999

           Patient_ID  ICD10  month  year
389231  1132385403999   C760      9    17
442417  1132385403999   C760     10    17
442418  1132385403999   I270     10    17
498109  1132385403999   C760     11    17
498110  1132385403999   I270     11    17

In [23]:
temp_diag.to_csv('health_fidelity_hcc/test_data/diag.csv', index= False)

In [24]:
temp_df_person.to_csv('health_fidelity_hcc/test_data/person.csv', index= False)

In [26]:
person_test= pd.read_csv('health_fidelity_hcc/test_data/person.csv')
diag_test= pd.read_csv('health_fidelity_hcc/test_data/diag.csv')

      Patient_ID  ICD10  month  year
0  1132385403999   C760      9    17
1  1132385403999   C760     10    17
2  1132385403999   I270     10    17
3  1132385403999   C760     11    17
4  1132385403999   I270     11    17

In [30]:
for i in range(100):
    
    print('selecting random row from the person df')
    #print(df_person.index)
    id=random.randint(df_person.index[0],df_person.index[-1] )
    temp_patient= dict(df_person.loc[id])
    temp_df_person= df_person[df_person.index==id]
    
    print("getting diagnosis data for {}: {}".format('Patient_ID', temp_patient['Patient_ID'] ))
    temp_diag= df_diag.query("Patient_ID=='{}'".format(temp_patient['Patient_ID']))
    
    person_test= pd.concat([person_test, temp_df_person], ignore_index=True)
    diag_test= pd.concat([diag_test, temp_diag], ignore_index=True)

selecting random row from the person df
getting diagnosis data for Patient_ID: 1904330415999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1848062742999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1216264346999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512200308033401999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1861174075999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1131158875999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1129608731999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1286942653999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1286961682999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1117046587999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1132685467999
selecting random row from the person df
getting diagnosis data for Patient_ID: 111540374500999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1962293703999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1132597307999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1957444888999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1118780379999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1130554331999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1918179168999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1133568251999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512163512242801999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512203413142301999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1286939515999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1111751259999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1130359387999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1972353805999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1127283259999
selecting random row from the person df
getting diagnosis data for Patient_ID: 149192858999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1454733213999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1114643483999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1977277133999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1145069406999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1113845083999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1132981819999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1286958505999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1131250715999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1117758299999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512242705141801999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1978351159999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1116878747999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1114830299999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1132502395999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1353558602999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1133208411999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1808798170999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1940527142999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1922768375999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1130392539999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1113628955999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1256167823999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1824941701999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1130910875999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512211604242901999
selecting random row from the person df
getting diagnosis data for Patient_ID: 155435583999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1124432507999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512160132041201999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1125182363999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1366689514999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512233516243201999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1133167739999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1972357622999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1130612891999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1114466907999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1959087421999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1131857531999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1132219675999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1372098357999
selecting random row from the person df
getting diagnosis data for Patient_ID: 151528570999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1906072835999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1130625339999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1112835611999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512211809002701999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1132019675999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1286934680999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1951721650999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1290380296999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1119441819999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1955244598999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1133661307999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1132907867999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1131731963999
selecting random row from the person df
getting diagnosis data for Patient_ID: 154821251999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1286936686999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1117235323999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1931863801999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1936115736999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1111024059999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1116446523999
selecting random row from the person df
getting diagnosis data for Patient_ID: 155362268999
selecting random row from the person df

getting diagnosis data for Patient_ID: 1132685531999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1132753787999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512160213161401999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1131676123999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1129843003999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512220630203301999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1904459692999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1116852763999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512182120073201999
selecting random row from the person df
getting diagnosis data for Patient_ID: 112434162900999
selecting random row from the person df
getting diagnosis data for Patient_ID: 100231512222226031701999
selecting random row from the person df
getting diagnosis data for Patient_ID: 1905398563999

In [31]:
person_test

    Month_of_eligibility Patient_DOB Gender                Patient_ID RAF_Type
0             2017-03-01  1951-08-08      M             1132385403999      CFA
1             2017-01-01  1951-09-04      F             1125322747999      CNA
2             2018-05-01  1938-12-13      M             1113060059999      CPA
3             2017-07-01  1940-08-11      F             1963247143999      CNA
4             2017-09-01  1945-03-25      F              153951827999      CNA
5             2018-01-01  1939-04-06      M             1231337515999      CNA
6             2017-09-01  1952-01-15      F             1904330415999      CNA
7             2017-01-01  1934-10-06      F             1848062742999      CNA
8             2018-02-01  1946-12-13      M             1216264346999      CNA
9             2017-07-01  1927-11-08      F  100231512200308033401999      CNA
10            2017-01-01  1937-07-28      F             1861174075999      CNA
11            2017-12-01  1942-09-21      F             1131158875999      CNA
12            2017-12-01  1946-10-24      F             1129608731999      CFA
13            2018-01-01  1938-03-18      M             1286942653999      CNA
14            2018-04-01  1926-11-01      M             1286961682999      CNA
15            2017-02-01  1969-09-02      F             1117046587999      CPD
16            2018-06-01  1950-09-27      F             1132685467999      CNA
17            2018-01-01  1948-06-23      M           111540374500999      CNA
18            2018-01-01  1939-06-04      F             1962293703999      CNA
19            2017-12-01  1951-10-02      F             1132597307999      CNA
20            2017-04-01  1943-01-23      F             1957444888999      CNA
21            2018-05-01  1940-09-20      M             1118780379999      CFA
22            2017-03-01  1966-03-25      F             1130554331999      CND
23            2017-01-01  1941-10-26      F             1918179168999      CNA
24            2018-04-01  1941-12-28      M             1133568251999      CNA
25            2017-06-01  1940-09-28      F  100231512163512242801999      CNA
26            2017-01-01  1934-07-25      F  100231512203413142301999      CNA
27            2017-08-01  1933-09-18      F             1286939515999      CNA
28            2018-01-01  1942-04-14      M             1111751259999      CNA
29            2017-08-01  1957-03-27      F             1130359387999      CFD
..                   ...         ...    ...                       ...      ...
76            2017-02-01  1947-03-12      M  100231512211809002701999      CNA
77            2017-04-01  1959-08-02      M             1132019675999      CFD
78            2017-06-01  1939-07-10      M             1286934680999      CNA
79            2018-06-01  1940-11-05      F             1951721650999      CNA
80            2018-01-01  1951-04-08      M             1290380296999      CNA
81            2018-03-01  1945-08-17      M             1119441819999      CPA
82            2017-06-01  1942-04-27      M             1955244598999      CNA
83            2018-06-01  1944-08-01      M             1133661307999      CFA
84            2018-06-01  1976-05-29      F             1132907867999      CND
85            2017-02-01  1958-11-20      F             1131731963999      CND
86            2017-12-01  1947-06-11      M              154821251999      CNA
87            2017-12-01  1943-10-04      F             1286936686999      CNA
88            2017-05-01  1942-01-28      M             1117235323999      CNA
89            2018-03-01  1932-02-17      F             1931863801999      CNA
90            2017-06-01  1950-02-14      F             1936115736999      CNA
91            2017-10-01  1952-11-01      F             1111024059999      CFD
92            2017-11-01  1939-03-09      F             1116446523999      CNA
93            2017-08-01  1945-12-07      M              155362268999      CNA
94            2017-08-01  1962-05-25      F             1132685531999      CPD
95            2018-07-01  1951-05-12      F             1132753787999      CFA
96            2017-05-01  1944-09-18      M  100231512160213161401999      CNA
97            2017-12-01  1949-05-16      F             1131676123999      CNA
98            2017-10-01  1948-11-16      M             1129843003999      CNA
99            2017-10-01  1962-12-04      F  100231512220630203301999      CND
100           2018-01-01  1947-05-30      F             1904459692999      CNA
101           2017-07-01  1958-12-01      M             1116852763999      CND
102           2017-05-01  1946-07-12      F  100231512182120073201999      CNA
103           2018-03-01  1944-06-01      M           112434162900999      CNA
104           2018-02-01  1943-04-03      M  100231512222226031701999      CNA
105           2017-10-01  1947-04-30      F             1905398563999      CNA

[106 rows x 5 columns]

In [32]:
diag_test

         Patient_ID   ICD10  month  year
0     1132385403999    C760      9    17
1     1132385403999    C760     10    17
2     1132385403999    I270     10    17
3     1132385403999    C760     11    17
4     1132385403999    I270     11    17
5     1125322747999    F251      1    17
6     1125322747999    F251      2    17
7     1125322747999    F251      3    17
8     1125322747999    F251      4    17
9     1125322747999    F251      5    17
10    1125322747999    F251      6    17
11    1125322747999    F251      7    17
12    1125322747999    F251      8    17
13    1125322747999    F251      9    17
14    1125322747999    F251     10    17
15    1125322747999    F251     11    17
16    1125322747999    F251     12    17
17    1125322747999    F251      1    18
18    1125322747999    F251      2    18
19    1125322747999    F251      2    18
20    1125322747999    F251      3    18
21    1125322747999    F251      4    18
22    1125322747999    F251      5    18
23    1125322747999    F251      6    18
24    1113060059999    I482      3    17
25    1113060059999    I482      4    17
26    1113060059999    A419      5    17
27    1113060059999    I214      5    17
28    1113060059999    I482      5    17
29    1113060059999    A419      6    17
...             ...     ...    ...   ...
2120  1905398563999  J84111      4    17
2121  1905398563999    M069      4    17
2122  1905398563999    J449      5    17
2123  1905398563999  J84111      5    17
2124  1905398563999    M059      5    17
2125  1905398563999    J449      6    17
2126  1905398563999  J84111      6    17
2127  1905398563999    M059      6    17
2128  1905398563999    J449      7    17
2129  1905398563999  J84111      7    17
2130  1905398563999    M059      7    17
2131  1905398563999    J449      8    17
2132  1905398563999  J84111      8    17
2133  1905398563999    M059      8    17
2134  1905398563999    J432      9    17
2135  1905398563999  J84111      9    17
2136  1905398563999    M059      9    17
2137  1905398563999    J432     10    17
2138  1905398563999  J84111     10    17
2139  1905398563999    M059     10    17
2140  1905398563999    J432     11    17
2141  1905398563999  J84111     11    17
2142  1905398563999    M059     11    17
2143  1905398563999    J432     12    17
2144  1905398563999  J84111     12    17
2145  1905398563999    M059     12    17
2146  1905398563999    M059      3    18
2147  1905398563999    M059      4    18
2148  1905398563999    M059      5    18
2149  1905398563999    M059      6    18

[2150 rows x 4 columns]

In [34]:
diag_test.to_csv('health_fidelity_hcc/test_data/diag.csv', index= False)

In [35]:
person_test.to_csv('health_fidelity_hcc/test_data/person.csv', index= False)

In [109]:
output_f= "test-data/RAJ_OUTPUT_cleaned.psv"

In [110]:
df_output= pd.read_csv(output_f, sep='|', names= ['Run_date', 'year_of_eligibility', 'Patient_ID', 'DOB','Deceased_date',
                                                 'Gender', 'Group_code', 'Plan_type', 'Observation', 'RAF coefficient',
                                                 'RAF_type'])

/home/user/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [111]:

df_output.head()

,Run_date,year_of_eligibility,Patient_ID,DOB,Deceased_date,Gender,Group_code,Plan_type,Observation,RAF coefficient,RAF_type
0,2018-09-24,2017-01-01,100231500030801040901999,1926-07-09,NaN,F,US354055,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
1,2018-09-24,2017-02-01,100231500030801040901999,1926-07-09,NaN,F,US354055,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
2,2018-09-24,2017-03-01,100231500030801040901999,1926-07-09,NaN,F,US354055,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
3,2018-09-24,2017-04-01,100231500030801040901999,1926-07-09,NaN,F,US354055,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
4,2018-09-24,2017-05-01,100231500030801040901999,1926-07-09,NaN,F,US354055,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA

In [112]:
#df_output=df_output.drop(['Deceased_date'], axis=1)
#df_output['Patient_ID']= df_output['Patient_ID'].astype(str)

In [116]:
#test_out= pd.DataFrame()
for id in list(person_test.Patient_ID):
    print("extracing Patient_ID=='{}'".format(id))
    temp_output= df_output.query("Patient_ID=={}".format(id))
    test_out= pd.concat([test_out, temp_output], ignore_index=True)

extracing Patient_ID=='1132385403999'
extracing Patient_ID=='1125322747999'
extracing Patient_ID=='1113060059999'
extracing Patient_ID=='1963247143999'
extracing Patient_ID=='153951827999'
extracing Patient_ID=='1231337515999'
extracing Patient_ID=='1904330415999'
extracing Patient_ID=='1848062742999'
extracing Patient_ID=='1216264346999'
extracing Patient_ID=='100231512200308033401999'
extracing Patient_ID=='1861174075999'
extracing Patient_ID=='1131158875999'
extracing Patient_ID=='1129608731999'
extracing Patient_ID=='1286942653999'
extracing Patient_ID=='1286961682999'
extracing Patient_ID=='1117046587999'
extracing Patient_ID=='1132685467999'
extracing Patient_ID=='111540374500999'
extracing Patient_ID=='1962293703999'
extracing Patient_ID=='1132597307999'
extracing Patient_ID=='1957444888999'
extracing Patient_ID=='1118780379999'
extracing Patient_ID=='1130554331999'
extracing Patient_ID=='1918179168999'
extracing Patient_ID=='1133568251999'
extracing Patient_ID=='100231512163512242801999'
extracing Patient_ID=='100231512203413142301999'
extracing Patient_ID=='1286939515999'
extracing Patient_ID=='1111751259999'
extracing Patient_ID=='1130359387999'
extracing Patient_ID=='1972353805999'
extracing Patient_ID=='1127283259999'
extracing Patient_ID=='149192858999'
extracing Patient_ID=='1454733213999'
extracing Patient_ID=='1114643483999'
extracing Patient_ID=='1977277133999'
extracing Patient_ID=='1145069406999'
extracing Patient_ID=='1113845083999'
extracing Patient_ID=='1132981819999'
extracing Patient_ID=='1286958505999'
extracing Patient_ID=='1131250715999'
extracing Patient_ID=='1117758299999'
extracing Patient_ID=='100231512242705141801999'
extracing Patient_ID=='1978351159999'
extracing Patient_ID=='1116878747999'
extracing Patient_ID=='1114830299999'
extracing Patient_ID=='1132502395999'
extracing Patient_ID=='1353558602999'
extracing Patient_ID=='1133208411999'
extracing Patient_ID=='1808798170999'
extracing Patient_ID=='1940527142999'
extracing Patient_ID=='1922768375999'
extracing Patient_ID=='1130392539999'
extracing Patient_ID=='1113628955999'
extracing Patient_ID=='1256167823999'
extracing Patient_ID=='1824941701999'
extracing Patient_ID=='1130910875999'
extracing Patient_ID=='100231512211604242901999'
extracing Patient_ID=='155435583999'
extracing Patient_ID=='1124432507999'
extracing Patient_ID=='100231512160132041201999'
extracing Patient_ID=='1125182363999'
extracing Patient_ID=='1366689514999'
extracing Patient_ID=='100231512233516243201999'
extracing Patient_ID=='1133167739999'
extracing Patient_ID=='1972357622999'
extracing Patient_ID=='1130612891999'
extracing Patient_ID=='1114466907999'
extracing Patient_ID=='1959087421999'
extracing Patient_ID=='1131857531999'
extracing Patient_ID=='1132219675999'
extracing Patient_ID=='1372098357999'
extracing Patient_ID=='151528570999'
extracing Patient_ID=='1906072835999'
extracing Patient_ID=='1130625339999'
extracing Patient_ID=='1112835611999'
extracing Patient_ID=='100231512211809002701999'
extracing Patient_ID=='1132019675999'
extracing Patient_ID=='1286934680999'
extracing Patient_ID=='1951721650999'
extracing Patient_ID=='1290380296999'
extracing Patient_ID=='1119441819999'
extracing Patient_ID=='1955244598999'
extracing Patient_ID=='1133661307999'
extracing Patient_ID=='1132907867999'
extracing Patient_ID=='1131731963999'
extracing Patient_ID=='154821251999'
extracing Patient_ID=='1286936686999'
extracing Patient_ID=='1117235323999'
extracing Patient_ID=='1931863801999'
extracing Patient_ID=='1936115736999'
extracing Patient_ID=='1111024059999'
extracing Patient_ID=='1116446523999'
extracing Patient_ID=='155362268999'
extracing Patient_ID=='1132685531999'
extracing Patient_ID=='1132753787999'
extracing Patient_ID=='100231512160213161401999'
extracing Patient_ID=='1131676123999'
extracing Patient_ID=='1129843003999'
extracing Patient_ID=='100231512220630203301999'
extracing Patient_ID=='1904459692999'
extracing Patient_ID=='1116852763999'
extracing Patient_ID=='100231512182120073201999'
extracing Patient_ID=='112434162900999'
extracing Patient_ID=='100231512222226031701999'
extracing Patient_ID=='1905398563999'

In [117]:
test_out

,Run_date,year_of_eligibility,Patient_ID,DOB,Deceased_date,Gender,Group_code,Plan_type,Observation,RAF coefficient,RAF_type
0,2018-09-24,2017-01-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
1,2018-09-24,2017-02-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
2,2018-09-24,2017-03-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
3,2018-09-24,2017-04-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
4,2018-09-24,2017-05-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
5,2018-09-24,2017-06-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
6,2018-09-24,2017-07-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
7,2018-09-24,2017-08-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
8,2018-09-24,2017-09-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
9,2018-09-24,2017-10-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
10,2018-09-24,2017-11-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
11,2018-09-24,2017-12-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
12,2018-09-24,2018-01-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
13,2018-09-24,2018-02-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
14,2018-09-24,2018-03-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
15,2018-09-24,2018-04-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
16,2018-09-24,2018-05-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
17,2018-09-24,2018-06-01,100231512200308033401999,1927-11-08,NaN,F,AE430044,MEDICARE ADVANTAGE,CNA_F90_94,0.797,CNA
18,2018-09-24,2017-01-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
19,2018-09-24,2017-02-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
20,2018-09-24,2017-03-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
21,2018-09-24,2017-04-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
22,2018-09-24,2017-05-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
23,2018-09-24,2017-06-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
24,2018-09-24,2017-07-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
25,2018-09-24,2017-08-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
26,2018-09-24,2017-09-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
27,2018-09-24,2017-10-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
28,2018-09-24,2017-11-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
29,2018-09-24,2017-12-01,100231512163512242801999,1940-09-28,NaN,F,AE354635,MEDICARE ADVANTAGE,CNA_F75_79,0.448,CNA
...,...,...,...,...,...,...,...,...,...,...,...
2703,2018-09-24,2017-01-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2704,2018-09-24,2017-02-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2705,2018-09-24,2017-03-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2706,2018-09-24,2017-04-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2707,2018-09-24,2017-05-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2708,2018-09-24,2017-06-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2709,2018-09-24,2017-07-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2710,2018-09-24,2017-08-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2711,2018-09-24,2017-09-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2712,2018-09-24,2017-10-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2713,2018-09-24,2017-11-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2714,2018-09-24,2017-12-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F65_69,0.312,CNA
2715,2018-09-24,2018-01-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
2716,2018-09-24,2018-01-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC40,0.423,CNA
2717,2018-09-24,2018-01-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC111,0.328,CNA
2718,2018-09-24,2018-02-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
2719,2018-09-24,2018-02-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC40,0.423,CNA
2720,2018-09-24,2018-02-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC111,0.328,CNA
2721,2018-09-24,2018-03-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
2722,2018-09-24,2018-03-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC40,0.423,CNA
2723,2018-09-24,2018-03-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC111,0.328,CNA
2724,2018-09-24,2018-04-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
2725,2018-09-24,2018-04-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC40,0.423,CNA
2726,2018-09-24,2018-04-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC111,0.328,CNA
2727,2018-09-24,2018-05-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
2728,2018-09-24,2018-05-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC40,0.423,CNA
2729,2018-09-24,2018-05-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC111,0.328,CNA
2730,2018-09-24,2018-06-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
2731,2018-09-24,2018-06-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC40,0.423,CNA
2732,2018-09-24,2018-06-01,1905398563999,1947-04-30,NaN,F,66070,MEDICARE ADVANTAGE,CNA_HCC111,0.328,CNA

In [118]:
test_out['Group_code'].astype(str)

0       AE430044
1       AE430044
2       AE430044
3       AE430044
4       AE430044
5       AE430044
6       AE430044
7       AE430044
8       AE430044
9       AE430044
10      AE430044
11      AE430044
12      AE430044
13      AE430044
14      AE430044
15      AE430044
16      AE430044
17      AE430044
18      AE354635
19      AE354635
20      AE354635
21      AE354635
22      AE354635
23      AE354635
24      AE354635
25      AE354635
26      AE354635
27      AE354635
28      AE354635
29      AE354635
          ...
2703       66070
2704       66070
2705       66070
2706       66070
2707       66070
2708       66070
2709       66070
2710       66070
2711       66070
2712       66070
2713       66070
2714       66070
2715       66070
2716       66070
2717       66070
2718       66070
2719       66070
2720       66070
2721       66070
2722       66070
2723       66070
2724       66070
2725       66070
2726       66070
2727       66070
2728       66070
2729       66070
2730       66070
2731       66070
2732       66070
Name: Group_code, Length: 2733, dtype: object

In [119]:
test_out=test_out.drop(['Deceased_date'], axis=1)

In [144]:
test_out.head()

,Run_date,year_of_eligibility,Patient_ID,DOB,Gender,Group_code,Plan_type,Observation,RAF coefficient,RAF_type
0,2018-09-24,2017-01-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
1,2018-09-24,2017-02-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
2,2018-09-24,2017-03-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
3,2018-09-24,2017-04-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
4,2018-09-24,2017-05-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA

In [145]:
test_out.to_csv('health_fidelity_hcc/test_data/output.csv', index= False)

In [138]:
test_out['RAF coefficient']= test_out['RAF coefficient'].astype(float)

In [143]:
test_out['RAF coefficient']=pd.to_numeric(test_out['RAF coefficient'], downcast='float')

In [ ]:
len(test)