In [1]:
import pandas as pd
import random

In [2]:
#reading files
diag_f= "test_data/diag.csv"
person_f= "test_data/person.csv"
output_f= "test_data/output.csv"


df_diag= pd.read_csv(diag_f)
df_person= pd.read_csv(person_f)
df_output= pd.read_csv(output_f)

In [3]:
df_diag.head()

      Patient_ID  ICD10  month  year
0  1132385403999   C760      9    17
1  1132385403999   C760     10    17
2  1132385403999   I270     10    17
3  1132385403999   C760     11    17
4  1132385403999   I270     11    17

In [4]:
df_person.head()

  Month_of_eligibility Patient_DOB Gender     Patient_ID RAF_Type
0           2017-03-01  1951-08-08      M  1132385403999      CFA
1           2017-01-01  1951-09-04      F  1125322747999      CNA
2           2018-05-01  1938-12-13      M  1113060059999      CPA
3           2017-07-01  1940-08-11      F  1963247143999      CNA
4           2017-09-01  1945-03-25      F   153951827999      CNA

In [5]:
df_output.head()

,Run_date,year_of_eligibility,Patient_ID,DOB,Gender,Group_code,Plan_type,Observation,RAF coefficient,RAF_type
0,2018-09-24,2017-01-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
1,2018-09-24,2017-02-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
2,2018-09-24,2017-03-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
3,2018-09-24,2017-04-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA
4,2018-09-24,2017-05-01,100231512200308033401999,1927-11-08,F,AE430044,MEDICARE ADVANTAGE,CNA_F85_89,0.664,CNA

In [6]:
print('selecting random row from the person df')
#print(df_person.index)
id=random.randint(df_person.index[0],df_person.index[-1] )
temp_patient= dict(df_person.loc[id])
print(temp_patient)

selecting random row from the person df
{'Month_of_eligibility': '2017-05-01', 'Patient_DOB': '1946-07-12', 'Gender': 'F', 'Patient_ID': '100231512182120073201999', 'RAF_Type': 'CNA'}

In [7]:
print("getting diagnosis data for {}: {}".format('Patient_ID', temp_patient['Patient_ID'] ))
temp_diag= df_diag.query("Patient_ID=='{}'".format(temp_patient['Patient_ID']))
temp_diag

getting diagnosis data for Patient_ID: 100231512182120073201999

                    Patient_ID  ICD10  month  year
2090  100231512182120073201999   A419     11    17
2091  100231512182120073201999   A419     12    17

In [8]:
import api
lob= 'MA'

out = api.single_month_score_predcitor(hicno=temp_patient['Patient_ID'],
                             sex=temp_patient['Gender'],
                             dob=temp_patient['Patient_DOB'],
                             month_of_eligibility= '09',
                             year_of_eligibility= '2018',
                             RAF_type= temp_patient['RAF_Type'],
                             lob= lob,
                             orec=0,
                             medicaid=True,
                             codes=list(temp_diag[' ICD10'].values))

['v22', 1, 'v22_2018', 'coefficients/v22_2018.csv']

In [9]:
out

{'models': [{'Model': 'v22',
   'Payment_Year': '2018',
   'RAF_TYPE': 'CNA',
   'Raf_Contribution': {'Demographic': [{'F70_74': 0.374}],
    'Clinical': [{'HCC2': 0.455}],
    'Entitlement Class': []},
   'Score': 0.829}],
 'final_score': 0.829}

In [10]:
set(df_output.query("Patient_ID=='{}'".format(temp_patient['Patient_ID']))['Observation'])

{'CNA_F70_74', 'CNA_HCC2'}

In [11]:
df_output.query("Patient_ID=='{}'".format(temp_patient['Patient_ID']))

,Run_date,year_of_eligibility,Patient_ID,DOB,Gender,Group_code,Plan_type,Observation,RAF coefficient,RAF_type
247,2018-09-24,2017-01-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
248,2018-09-24,2017-02-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
249,2018-09-24,2017-03-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
250,2018-09-24,2017-04-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
251,2018-09-24,2017-05-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
252,2018-09-24,2017-06-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
253,2018-09-24,2017-07-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
254,2018-09-24,2017-08-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
255,2018-09-24,2017-09-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
256,2018-09-24,2017-10-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
257,2018-09-24,2017-11-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
258,2018-09-24,2017-12-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
259,2018-09-24,2018-01-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
260,2018-09-24,2018-01-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA
261,2018-09-24,2018-02-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
262,2018-09-24,2018-02-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA
263,2018-09-24,2018-03-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
264,2018-09-24,2018-03-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA
265,2018-09-24,2018-04-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
266,2018-09-24,2018-04-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA
267,2018-09-24,2018-05-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
268,2018-09-24,2018-05-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA
269,2018-09-24,2018-06-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
270,2018-09-24,2018-06-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA
271,2018-09-24,2018-07-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
272,2018-09-24,2018-07-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA
273,2018-09-24,2018-08-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
274,2018-09-24,2018-08-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA
275,2018-09-24,2018-09-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_F70_74,0.374,CNA
276,2018-09-24,2018-09-01,100231512182120073201999,1946-07-12,F,AE429091,MEDICARE ADVANTAGE,CNA_HCC2,0.455,CNA